<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<script type="text/javascript">
		constants = {			
			processCardPayment: '@Url.RouteUrl("DefaultApi", new {controller = "Payment", action = "ProcessCardPayment" })',
			processPaymentRequest: '@Url.RouteUrl("DefaultApi", new {controller = "Payment", action = "ProcessPaymentRequest" })'
		}
	</script>
	<title>Платежи</title>
</head>
<body>
<div id="root">
</div>
<script type="text/javascript" src="@Url.Content("~/assets/payment.bundle.js")"></script>
</body>
</html>