.payment-input {
    border-left: 2px solid #f9a602;
    margin: 1px;
    padding-left: 2px;
}

.payment-input__input {
    border: none;
    border-bottom: 1px solid #737373;
    text-align: center;
    margin: 5px 5px;
}

label {
    display: inline-block;
    width: 100px;
}